@model Student

<tr>
    <td>
        @Html.DisplayFor(Model => Model.LastName)
    </td>
    <td>
        @Html.DisplayFor(Model => Model.FirstMidName)
    </td>
    <td>
        @Model.EnrollmentDate.ToShortDateString()
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
        <a asp-action="Delete" class="delete-student" asp-route-id="@Model.Id">Delete</a> 
    </td>
</tr>