@model Student

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.FirstMidName @Model.LastName</h2>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Enrollments)
</dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Course Title</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Course.Title
                </td>
                <td>
                    @item.Grade
                </td>
            </tr>
        }
    </table>
</dd>
